header, footer {
  font-family: 'Darker Grotesque', sans-serif;
  font-size: 30px;
  padding: 3px;
  color: white;
  text-align: center;
}

body {
  background-color: black
}

.row {
  text-align: center;
}

nav {
  font-family: 'Staatliches', cursive;
  font-size: 22px;
  background-color: black;
}
