header, footer {
  font-family: 'Staatliches', sans-serif;
  font-size: 24px;
  padding: 3px;
  letter-spacing: 25px;
  color: white;
  text-align: center;
}

body {
  background-color: black
}

.row {
  text-align: center;
}

nav {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 22px;
  background-color: black;
}

p {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

img.thumb {
  display: block;
  max-width: 40%;
  height: auto;
}

li.nav-item {
  font-weight: 600;
}
